.placeholder {
  position: relative;
  height: 48px;
  margin-bottom: 5px;
  overflow: hidden;
  background: #e9ebee;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #dddfe2;
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-out infinite;
  }
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  background: #e9ebee;

  &__checkbox {
    margin: 0 10px 0 0;
  }

  &__title {
    margin: 0;
    flex-grow: 1;
    cursor: pointer;

    &--completed {
      text-decoration: line-through;
    }
  }

  &__delete {
    color: #2c3e50;
    cursor: pointer;
  }

  &--pending {
    position: relative;
    overflow: hidden;

    .todo__title,
    .todo__checkbox,
    .todo__delete {
      position: relative;
      z-index: 2;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #dddfe2;
      transform: translateX(0);
      animation: 1.5s loading-placeholder ease-out infinite;
      
    }
  }

  &--completed {
    opacity: 0.5;
  }
}
